.section-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 4rem;
  background: linear-gradient(to bottom right, #000000, #310808, #690303);
}
.container-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.container-services h1 {
  color: #fff;
  font-family: "Changa", sans-serif;
  font-size: 2rem;
}
.container-cards {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.836);
  background-color: #690303;
  align-items: center;

  gap: 1rem;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-text h2 {
  color: #fff;
  font-family: "Changa", sans-serif;
  font-size: 1rem;
}
.card-text p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  transition: 0.3s ease;

  cursor: zoom-in;
}
.card-text p:hover {
  font-size: 1rem;
}
.icon {
  color: #fff;
  font-size: 3rem;
}
@media (max-width: 768px) {
  .container-services h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .container-cards {
    flex-direction: column !important;
  }
}
